<h1>Eva and David's wedding</h1>

<h2>The story</h2>

<p>
	Through the magic of the internet, gelato, and a bit of stubbornness, we concluded we're just right for one another.
</p>

<h2>Ceremony and reception</h2>

<h4>Date & time</h4>
	Our ceremony and reception are being held on <strong>September 7th, 2014</strong>. at Wychwood Barns starting around 9 AM.

<h4>Location</h4>
<p>
	Artscape Wychwood Barns <br>
	601 Christie St <br>
	Toronto, Ontario
</p>

<h4>Program & details</h4>
<p>
	Show up, take a seat, and enjoy the ceremonies. Following we'll have some self-serve brunch and drinks, and you'll be done by mid-afternoon.
</p>


<h2>Hotel</h2>
<p>
	We'll find a place for everyone soon.
</p>

<h2>RSVP</h2>
<p>
You can RSVP below. Please take note of the number of seats we have reserved for you.
</p>
<%= render "responses/form" %>